{
  "presets": [
    "next/babel",
  ],
  "env": {
    "development": {
      "plugins": [
        "inline-dotenv",
        "inline-react-svg"
      ],
    },
    "production": {
      "plugins": [
        "transform-inline-environment-variables"
      ]
    }
  }
}