/.git
/web-app/.next
/coverage
/web-app/export
/examples/create-react-app*/src/serviceWorker.js
/examples/gatsby/public/
/examples/preact/config
/examples/preact/scripts
/packages/babel-plugin-unwrap-createStyles/test/__fixtures__/
/packages/share-we-go-codemod/lib
/packages/share-we-go-codemod/src/*/*.test
/packages/share-we-go-codemod/src/*/*.test.js
/packages/share-we-go-icons/fixtures
/packages/share-we-go-icons/src
/packages/share-we-go-icons/templateSvgIcon.js
/tmp
build
node_modules
