.MuiAppBar-root {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
  }
  .MuiAppBar-positionFixed {
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
  }
  .MuiAppBar-positionAbsolute {
    top: 0;
    left: auto;
    right: 0;
    position: absolute;
  }
  .MuiAppBar-positionSticky {
    top: 0;
    left: auto;
    right: 0;
    position: sticky;
  }
  .MuiAppBar-positionStatic {
    position: static;
  }
  .MuiAppBar-positionRelative {
    position: relative;
  }
  .MuiAppBar-colorDefault {
    color: rgba(0, 0, 0, 0.87);
    background-color: #f5f5f5;
  }
  .MuiAppBar-colorPrimary {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
  }
  .MuiAppBar-colorSecondary {
    color: #fff;
    background-color: #f50057;
  }